#blackjack {
  .game-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #5fb372;
    background-color: #6aa38b;
    border: none;
    overflow: hidden;
  }
  .hands {
    display: flex;
  }
  .player {
    display: flex;
    margin-right: 40px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  $card-w: 100px;
  .card {
    position: relative;
    width: $card-w;
    height: $card-w * 1.4;
    background-color: #fff;
    border-radius: $bd-r;
    margin-right: 12px;
    overflow: hidden;
    @include box-shadow;
    &:last-of-type {
      margin-right: 0;
    }
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      background-color: $color-1;
      opacity: 0.4;
      z-index: 9;
    }
  }
  .card-value {
    display: inline-block;
    padding: 6px 0 0 8px;
    font-weight: bold;
  }
  .icon-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon {
    width: 30px;
    height: 30px;
    &.icon-spades,
    &.icon-clubs { fill: #000; }
    &.icon-heart,
    &.icon-diamonds { fill: red; }
  }
  .chips {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 2px solid #fff;
  }
  .chips-wrap {
    position: relative;
    display: flex;
    z-index: 999;
  }
  $chip-d: 70px;
  .chip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $chip-d;
    height: $chip-d;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
    @include box-shadow(2px, 4px, rgba(#000, 0.5));
    &:last-of-type {
      margin-right: 0;
    }
    .value-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 2px solid $gray-10;
      border-radius: 50%;
      color: $color-main;
      padding: 5px;
      width: 26px;
      height: 26px;
    }
  }
  .chip-1 { background-color: #fff; }
  .chip-2 { background-color: #d6594b; }
  .chip-3 { background-color: #4958ad; }
  .chip-4 { background-color: #346953; }
  .chip-5 { background-color: #ffa852; }
  .chip-6 { background-color: $gray-80; }
}