body {
  margin: 0;
}
#app {
  height: 100vh;
  font-family: $font-body;
  font-size: $fz-main;
  color: $color-main;
  background-color: #f7f7f7;
}

.heading,
.heading-2 {
  font-family: $font-heading;
  margin: 0 0 30px;
}
.heading {
  font-size: 40px;
}
.heading-2 {
  font-size: 30px;
}
.subheading {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}
.title {
  display: flex;
  color: $color-1;
  font-weight: normal;
  margin-bottom: 0;
  transform: scale(1);
  @include transition;
  &:hover {
    transform: scale(1.05);
  }
  a:hover {
    text-decoration: none;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-1;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  background-color: $color-1;
  color: #fff;
  font-size: $fz-main;
  margin-top: 20px;
  padding: 14px 30px;
  border: $bd-w solid $color-1;
  border-radius: $bd-r;
  cursor: pointer;
  outline: none !important;
  @include transition;
  &:hover,
  &:focus {
    background-color: $color-1-hov;
    border-color: $color-1-hov;
    text-decoration: none;
  }
  &.btn-2 {
    background-color: $gray-10;
    color: $color-main;
    border-color: $gray-10;
    &:hover {
      background-color: darken($gray-10, $DARKEN_PER);
      border-color: darken($gray-10, $DARKEN_PER);
    }
  }
  &.sm {
    padding: 6px 14px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-wrap {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 20px;
  label {
    color: $gray-50;
    margin-bottom: 5px;
  }
}
input {
  font-family: $font-body;
  font-size: $fz-main;
  height: auto;
  padding: 8px;
  border: $bd-w solid $gray-20;
  border-radius: $bd-r;
  outline: none;
  &:focus {
    border-color: $color-1;
  }
}
.submit {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 9px 0;
}

.logo {
  .icons-wrap {
    @include flex-grid(2, 0px);
    width: ($logo-icon-size + $logo-icon-spacing) * 2;
    height: ($logo-icon-size + $logo-icon-spacing) * 2;
  }
  .icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $logo-icon-size + $logo-icon-spacing;
    height: $logo-icon-size + $logo-icon-spacing;
  }
  .icon {
    display: flex;
    width: $logo-icon-size;
    height: $logo-icon-size;
    fill: $color-1;
  }
  .icon-heart {
    width: $logo-icon-size - 1;
    height: $logo-icon-size - 1;
  }
  .icon-diamonds {
    position: relative;
    top: 1px;
    width: $logo-icon-size + 2;
    height: $logo-icon-size + 2;
  }
}

.error {
  color: $color-error;
  margin-top: 20px;
  padding: 10px 12px;
  background-color: lighten($color-error, 30%);
  border-radius: $bd-r;
}