@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

$font-body: 'Recursive', sans-serif;

// BREAKPOINTS
$vpw-xl: 1200px;
$vpw-lg: 992px;
$vpw-md: 768px;
$vpw-sm: 576px;
$vpw-xs: 400px;

$vpw-nav: $vpw-lg;
$mxw-nav: '(max-width: #{$vpw-nav - 1px})';

// MEDIA QUERIES
$mxw-xl: '(max-width: #{$vpw-xl - 1px})';
$mxw-lg: '(max-width: #{$vpw-lg - 1px})';
$mxw-md: '(max-width: #{$vpw-md - 1px})';
$mxw-sm: '(max-width: #{$vpw-sm - 1px})';
$mxw-xs: '(max-width: #{$vpw-xs - 1px})';

$mnw-xs: '(min-width: #{$vpw-xs})';
$mnw-sm: '(min-width: #{$vpw-sm})';
$mnw-md: '(min-width: #{$vpw-md})';
$mnw-lg: '(min-width: #{$vpw-lg})';
$mnw-xl: '(min-width: #{$vpw-xl})';